 @font-face {
  font-family:'Counter-Strike';
  src: url(cs_regular.ttf);
 }
 
 body {
    word-spacing: 1.4px;
    min-height: 100vh;
    font-family: "poppins";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

  /* BG */
  body{
    /* background-image: url("pic/BG.jpeg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    backdrop-filter: blur(3px);
    transition: background-image 0.3s ease-in-out;
    transition: opacity 0.1s ease-in-out;
  }
  header{
  display: flex;
  justify-content: center;
  /* gap:10px; */
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  }

  header h1{
    font-family:'Counter-Strike';
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  img{
    /* background-color: white; */
    /* filter: invert(1); */
    color: white;
    padding: 1em;
    padding-bottom: 0;
    padding-left: 1.4em;
    /* border-radius: 20px; */
    
  }
  p{
    cursor: text;
  }

  .container {
    margin: auto;
    display: flex;
    width: 40%;
    background-color: rgb(105,105,105, 0.5);
    border-radius: 20px;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    /* flex: 1; */
  }

  #gname{
    color: white;
    font-size: 50px;
  }
  #word-about{
    display: block;
    color:white;
    text-align: justify;
    /* padding: 0 10vh 0 90vh; */
  }
  #right-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* flex:1; */
  }
#about{
  display: block;
  width: 45%;
}

  #right-box p{
    display: flex;
    text-align: right;
    flex-direction: column;
    flex: 1;
    margin: 2.8em 0em;
  }
  h2{
    font-size: 50px;
    cursor: text;
    margin: 0;
  }
  #about{
    /* padding: 0 50vh 0 0;*/
    margin: 1.4em 2em 1em 2em; 
  }
  
  .item {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50px;
    height: 50px;
    background-color: rgb(53, 52, 52);
    padding: 0.1pt;
    margin: 2em 3em 2em 3em;
    font-size: 10px;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    /* border: 10px solid var(--clr-accent); */
    border-radius: 90%;
    transition: transform 0.8s ease;
    position: relative;
  }
  .item-1{
    color:rgb(70, 70, 70);
    
  }
  .item-2{
    /* z-index: 10; */
    color:white;
    /* order: 1; */
  }
  .item:hover {
    transform: scale(1.2);
    z-index: 10;           
    cursor: pointer;  
    /* background-size: 10%;      */
}
  .item-3{
    color:white;
  }
  .item-4{
    color:white;
  }
  .item-5{
    color:white;
  }
  .item-6{
    color:white;
  }
  /* END OF BASE STYLES */
 
  @media (max-width: 1650px) {
    /* .container {
        
        width: 770px;
        align-items: center;
        justify-content: center;
    } */
    #about, #about-content{
      padding: 1pt;
      margin: 0em;
      /* margin-left: 1em */
      /* justify-content: center; */
      /* padding: 0 10vh 0 90vh; */
    }
    
    #about-content{
      justify-content: space-around;
      padding: 0pt;
      margin: 0em;
      margin-left: 1em;
    }
    img{
      width: 600px;
    }
    #button_1{
      align-items: center;
      /* justify-content: center; */
    }
}
  @media (max-width: 900px) {
    .container {
        width: 370px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #about{
      padding: 0pt;
      text-align: center;
      align-items: center;
      width: 80%;
    }
    #word-about{
      text-align: center;
    }
    img{
      width: 360px;
    }
    #button_1{
      align-items: center;
    }
    main{
      text-align: center;
      align-items: center;
      justify-content: center;
    }
}

/* For screens smaller than 400px (e.g., mobile phones) */
@media (max-width: 500px) {
    .container {
        /* New width to fit exactly ONE item */
        width: 350px;
        justify-content: center;
    }
    img{
      width: 180px;
    }
}